.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;

  .btn-option {
    width: 100%;
    min-width: 400px;
    padding: 1rem;
    transition: 150ms;

    &:hover {
      background-color: #5858587c;
    }
  }

  .question-text {
    text-align: center;
  }

  .correct-option {
    background-color: rgb(80, 132, 180);
  }

  .wrong-option {
    background-color: rgb(255, 196, 88);
  }
}
